---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Own Mods">
    <style>
        .content {
          margin-top: 80px; /* Margen superior igual a la altura del top-bar */
        }
        .titulo {
        text-align: center; /* Centra el texto horizontalmente */
        font-size: 6em;
        font-weight: 500;
        color: white;
        text-shadow:
                  0 0 5px #ffbb00,
                  0 0 25px #ffbb00,
                  0 0 50px #ffbb00,
                  0 0 100px #ffbb00;
        margin: 60px;
        }
    </style>
    
    <div class="content">
      <h2 class="titulo">MODS PROPIOS</h2>
    </div>
</Layout>
