---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TAVICRACKWEB🎮">
    <style>
        .content {
          margin-top: 80px; /* Margen superior igual a la altura del top-bar */
        }
    </style>
    
    <div class="content">
        
    </div>
</Layout>