---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TAVICRACKWEB🎮">
  <style>
    .content {
      margin-top: 80px; /* Margen superior igual a la altura del top-bar */
    }
    .titulo {
      text-align: center; /* Centra el texto horizontalmente */
      font-size: 6em;
      font-weight: 500;
      color: white;
      text-shadow:
                  0 0 5px #ffbb00,
                  0 0 25px #ffbb00,
                  0 0 50px #ffbb00,
                  0 0 100px #ffbb00;
    }
    .home {
      margin: 60px;
      height: 300px;
      display: flex;
      align-items: center;
      padding: 0 10%;
    }
    .home-conter {
      max-width: 600px;
    }
    .home-conter h1 {
      font-size: 55px;
      font-weight: 700;
      line-height: 1.2;
      text-shadow:
      0 0 5px rgb(191, 0, 255),
      0 0 25px rgb(191, 0, 255),
      0 0 50px rgb(191, 0, 255),
      0 0 100px rgb(191, 0, 255);
    }
    .home-conter h3 {
      font-size: 35px;
      font-weight: 700;
      color: white;
      text-shadow:
      0 0 5px rgb(255, 0, 0),
      0 0 25px rgb(255, 0, 0),
      0 0 50px rgb(255, 0, 0),
      0 0 100px rgb(255, 0, 0);
    }
    .home-conter p {
      font-size: 25px;
      margin: 20px 0 40px;
      text-shadow:
      0 0 5px rgb(0, 0, 0),
      0 0 25px rgb(0, 0, 0),
      0 0 50px rgb(0, 0, 0),
      0 0 100px rgb(0, 0, 0);
    }
    .home-conter .btn-box{
      display: flex;
      justify-content: space-between;
      width: 350px;
      height: 50px;
    }
    .btn-box a {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      background: rgb(155, 3, 193);
      border: 2px solid white;
      border-radius: 8px;
      font-size: 18px;
      color: #fbfbfb;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
      z-index: 1;
      overflow: hidden;
      transition: 1s;
    }
    .btn-box a:hover{
      color: rgb(0, 0, 0);
    }
    .btn-box a:nth-child(2){
      background: #2e025e;
      color: aqua;
    }
    .btn-box a:nth-child(2)::after{
      background: rgb(149, 0, 255);
    }
    .btn-box a:nth-child(2):hover{
      color: #ffffff;
    }
    .btn-box a:nth-child(3){
      background: #081b29;
      color: aqua;
    }
    .btn-box a:nth-child(3)::after{
      background: aqua;
    }
    .btn-box a:nth-child(3):hover{
      color: #ff0000;
    }
    .btn-box a::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #dd00ff;
      z-index: -1;
      transition: 1s;
    }
    .btn-box a:hover::after{
      width: 100%;
      height: 100%;
    }
    </style>
    <div class="content">
      <h1 class="titulo">TAVICRACKWEB🎮</h1>
      <section class="home">
        <div class="home-conter">
          <h1>Gabriel Gustavo Lizama May</h1>
          <h3>Ing. Sistemas Computacionales </h3>
          <p>En esta pagina encontraras gran variedad de informacion que suelo usar en videos o que recomiendo
            tambien hay informacion personal mía para que me conoscan mejor
          </p>
          <div class="btn-box">
            <a href="#">Gutarra</a>
            <a href="#">Dibujar</a>
            <a href="#">Dev Web</a>
          </div>
        </div>
      </section>
    </div>
</Layout>

Mod forsaken BEH:https://www.mediafire.com/file/tm4a5yyih7buqvl/Forsaken_Odyssey_%2528v1.16.10%2529_%2528Behavior%2529.mcpack/file
Mod forsaken RES:https://www.mediafire.com/file/t5nkeia7e2g1cbj/Forsaken_Odyssey_%2528v1.16.10%2529_%2528Resource%2529.mcpack/file
Mod forsaken SERVER:https://www.mediafire.com/file/pa262nfdxp4rs8o/Forsaken_Odyssey_%2528v1.16.10%2529_%2528Server%2529.mcaddon/file
Hogs Enchant:https://api.mcpedl.com/api/download/649260/?r=eyJpdiI6IkZoRVdaMkpqRzMrRUtlWjhzZnZiWUE9PSIsInZhbHVlIjoiTUxwZFdESVZJN09kS0pXaW9Tc1RzSGtCeTVDajVNV3NoMXdvVWltS3dmVHlhamxqTnlDTmJvQWFVR0lqOTI3Z2U3WTNWUytPUkI5eTBpOE5lMTlTNVRIcGdqZWVnVVZoK212MGN0RGRUSERERWNIS1lJWEFsT3ZaYlZGOXpmbjFFS3ZmK3FyTmdSSVE3dzBCKzN0anVMRG8ycUpaTm5zVDE0OUxHRGRNdnB2RFRBVDQzUmN1SlVsV2dRem81eHRrejc0WVYwTW9KMVFJNGVYSUZGK1ZITC95Zml3OHhUR2ZLNDRMWXQrenRxcTZ4TEc3K0xQcnhXWGZqamZOSGFCQkRlMVNWMXJXTStqNE0wT0o2cS9lUnVuVkhDaUE3eGt0U3pnd21Bc0UwZkl5elF6dGdRVjBud3pZaVlPWVJXYkJla1FsNGpHU3RkdmVmTElaa1A0S2QvMytaY1JVUFkwZGdwWmdPRjcxRFNNVUJoNWM0MFJ1Z0JubDAzSC9xbFkzbXMvaHFaaWdYZjJwTW9SNnB4UWNobDNGL1B6OTVMdzd0N200RE9kQmozcz0iLCJtYWMiOiJiMmQ0ZWYwNGQ5ZTIxNjk0N2VlYWVlMDgwOWJkNWMzYWViYjY3ODgyNzc2NjJjYjZjYmIwYjlhZWYwNzU1MzNlIiwidGFnIjoiIn0=&ft=2a7f33982f324ff07ec60d582acb7f7a&bd=38o40ev0ty&_gl=1*1yod80n*_ga*MTcxOTEwMjY1NC4xNzEwOTkzNzY3*_ga_8DG4HWQ88X*MTcxMTQ3MjQ5Ny43LjEuMTcxMTQ3MzA3MS44LjAuMA..
Terraria:https://www.mediafire.com/file/uokp29s39kfte5w/Terraria_Trinkets_BE%252C_Magical_Accessories%2521.mcaddon/file
Gravel's Hammers:https://edge.forgecdn.net/files/5193/502/Gravel%27s%20Hammers%202.2.mcaddon?ft=2a7f33982f324ff07ec60d582acb7f7a&bd=38o40ev0ty
Light:https://api.mcpedl.com/api/download/648392/?r=eyJpdiI6IlYwYm1nUXF2UENsRFhWdm11MGdRWGc9PSIsInZhbHVlIjoidGdBZ0lHVVVxakRaRzVTUVkrRmdjMG9sbklzVWR1cE1OSUdmZkFiWFRBT2JnQTY4VVVodENCMGF0VHRNaHZYUHBwdlN6OU1tdTF5cTlkV05GSUFrbUVyK21xMk9LL0grSUpudW9UYkxWOHI4NTVlYzJCZFpnYWpmZWxZcTZOQUZGODF2TThpSWNPMUoyWDNWS0pqQXE5YXQ1Qm5kRXdpK1piQ0tLc3hxNVRkdzJ6MFJFV1lHNkJ0STV4UFh4R2xneTczSi9GS2srcDJydFI5K0ZCYXBtM05mVHcxOVBjcEZTdGV4VWJzVkh4T0VYak9BRFlBYTFQTlBNQlprc3ZuTUZadVBtVWtBNXQxd0tTTTFGUTRHWWdGYW1EcDhmZjRvZ3pTSDNrYkhpRVFmeklCeTdsR3RBeUROZnhZeWs0Y1puTDkrWG1zTmdldm13NmtxL0FiUmttbTF0SENobWo4UXVqckVmYjhXOFhzK0NyUFVKTXNHVzc3blBzbllSQXBlTTFIRDFNSkpkWU5QTVV1eFV0QkNUZz09IiwibWFjIjoiMjRmMjQ3ZGFjMThkOTVjYWZhZjdiODQ1OThjNDIwYjNkMDVkNWIzN2U5OTA5N2EyZjU0NGM1NDA0OTY5MTAwZSIsInRhZyI6IiJ9&ft=2a7f33982f324ff07ec60d582acb7f7a&bd=38o40ev0ty&_gl=1*14dn5ts*_ga*MTcxOTEwMjY1NC4xNzEwOTkzNzY3*_ga_8DG4HWQ88X*MTcxMTQ3MjQ5Ny43LjEuMTcxMTQ3MzU4NC41NS4wLjA.
Mystic Weapon BEH:https://www.mediafire.com/file/yqqt4cfsziey3om/MysticWeapon_BP.mcpack/file
Mystic Weapon RES:https://www.mediafire.com/file/gn623ham20hap4z/MysticWeapon_RP.mcpack/file