---
import Layout from '../layouts/Layout.astro';
import SocialMedia from '../components/SocialMedia.astro';
---

<Layout title="TAVICRACKWEB🎮">
	<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <a class="text-white" href="/Youtbe">Youtube</a>
        <a class="text-white" href="/oldest">Los más viejos</a>
        <a class="text-white" href="/About">Sobre el proyecto</a>
        <a class="text-white" href="/Twitch">Twitch</a>
    </nav>

	<section>
		<SocialMedia />
	</section>
</Layout>