---
import Layout from "../layouts/Layout.astro"
import Box from "../components/HeaderButton2.astro"
---
<Layout title="Minecraft">
    <style>
        .content {
            margin-top: 100px; /* Margen superior igual a la altura del top-bar */
        }
        .box {
            width: 300px; /* Ancho deseado del box */
            height: 300px; /* Altura deseada del box */
            background-image:url(/src/components/imagenes/Tierra.jpg); /* Color de fondo del box */
            padding: 20px; /* Espacio interior del box */
            border-radius: 10px; /* Borde redondeado del box */
            display: flex; /* Utilizamos flexbox para centrar la imagen */
            justify-content: center; /* Centramos horizontalmente */
            align-items: center; /* Centramos verticalmente */
        }
        .imagen-container {
            display: flex;
            justify-content: center;
        }
        .imagen {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .button {
            padding: 5px 10px; /* Ajustamos el relleno del bot贸n */
            background-color: #007bff00; /* Color de fondo del bot贸n */
            color: rgb(0, 0, 0); /* Color de texto del bot贸n */
            border: none; /* Quitamos el borde */
            border-radius: 5px; /* Radio de borde */
            cursor: pointer; /* Cambiamos el cursor al pasar sobre el bot贸n */
            text-decoration: none; /* Quitamos la subrayado del enlace */
        }
        .button:hover {
            background-color: rgb(0, 255, 64); /* Cambiamos el color de fondo al pasar el cursor */
        }
        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .button {
            align-self: center;
        }
    </style>
    
    <div class="content">
        <div class="box">
            <div class="ui card">
                <div class="image landscape">
                    <img class="imagen" src="https://api.mcpedl.com/storage/submissions/89658/100/sketch1658181736649_1-520x245.png">
                </div>
                    <a class="text-green-400 font-medium">Crate Addon</a>
                    <div class="meta">
                    <span class="date text-white font-bold" >Ramcor14_BR</span>
                    </div>
                    <div class="description">
                    <a class="button font-semibold" href="https://www.mediafire.com/file/gy9uew6otmthv7z/Create+v1.mcaddon/file">Download</a>
                    </div>
            </div>
        </div>
    </div>
</Layout>


