---
import Layout from "../layouts/Layout.astro"
import Box from "../components/HeaderButton2.astro"
---
<Layout title="Minecraft">
    <style>
        .content {
          margin-top: 100px; /* Margen superior igual a la altura del top-bar */
        }
    </style>
    
    <div class="content">
        <div class="ui card">
            <div class="image landscape">
                <img class="imagen" src="/src/components/imagenes/LOGO.jpg">
            </div>
                <a class="header text-yellow-500">Landsacpe Image</a>
                <div class="meta">
                <span class="date text-gray-400" >Joined in 2013</span>
                </div>
                <div class="description">
                <a class="text-sky-500" href="#">Kristy is an art director living in New York.</a>
                </div>
        </div>
        <style>
            .imagen {
                width: 200px; /* Ancho deseado de la imagen */
                height: auto; /* Altura automática para mantener la proporción */
                border-radius: 10px; /* Radio de los bordes */
            }
        </style>
    </div>
</Layout>


