---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Youtbe">
    <h1>Link de mi canal de Twitch</h1>
    <a class="text-white" href="https://www.twitch.tv/tavicrack">Twitch</a>
    <i class="fa-brands fa-twitch" style="color: #B197FC"></i>
</Layout>