---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Youtbe">
    <h1>Link de mi canal de Youtube</h1>
    <a class="text-white" href="https://www.youtube.com/channel/UCObQZoyumZM1kFJ6lrtrv2A">Youtube</a>
</Layout>