---
import buttonPages from "../js/objects/buttonPages";
---
<div>
    {buttonPages.map((plataform) => (
        <section>
        <i class={plataform.icon}></i>
        <a href={plataform.url}>{plataform.name}</a>
        </section>
    ))}
</div>