---
console.log('javascript');
import Buttons from "./Buttons.astro";
import SocialMedia from "./SocialMedia.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <style>
        .imagen-redonda {
            width: 100px; /* ajusta el tamaño de la imagen según tus necesidades */
            height: 100px;
            border-radius: 50%; /* hace que la imagen sea redonda */
            overflow: hidden; /* asegura que la imagen se ajuste al radio */
            float: left; /* coloca la imagen a la izquierda del título */
            margin-right: -50px; /* ajusta el espacio entre la imagen y el título */
        }
    </style>
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <img class="imagen-redonda" src="/src/components/imagenes/LOGO.jpg">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            TAVICRACKWEB
        </h2>
        <p class="font-medium text-white sm:text-xl">
            Pagina oficial de TAVICRACK🎮
        </p>
    </div>
    <style>
        .boton-estilo {
          /* Estilos de botón */
            display: inline-block;
            padding: 10px 20px;
            background-color: #fff;
            color: #000000;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
        }
        
        .boton-estilo:hover {
            background-color: #fff;
        }
        </style>
    <div class="boton-estilo">
        <Buttons/>
    </div>
    <style>
        .container {
            position: relative;
            height: 100vh; /* 100% de la altura de la ventana del navegador */
        }
        .component-container {
            position: fixed;
            bottom: 0;
            left: 0;
            margin: 20px; /* Margen para separarlo del borde */
        }
    </style>
    <div class="container">
        <div class="component-container">
            <SocialMedia/>
        </div>
    </div>
</header>
