---
console.log('javascript');
---

<header>
    <style>
    /* Estilos para el contenedor principal */
        .top-bar {
            width: 100%; /* Ancho completo */
            height: 80px; /* Altura del box */
            background-color: rgba(68, 0, 99, 0.8); /* Color de fondo con transparencia */
            display: flex; /* Utilizamos flexbox para alinear contenido */
            justify-content: space-between; /* Alineamos el contenido HeaderButton los extremos */
            align-items: center; /* Alineamos verticalmente el contenido */
            padding: 0 20px; /* Añadimos relleno HeaderButton los lados */
            position: fixed; /* Fija la posición del box en la parte superior */
            top: 0; /* Fija la posición en la parte superior */
            z-index: 999; /* Asegura que esté por encima de otros elementos */
        }

        .logo {
            width: 70px; /* Tamaño máximo del logo */
            height: 70px; /* Para mantener la proporción del logo */
            border-radius: 50%; /* hace que la imagen sea redonda */
            overflow: hidden; /* asegura que la imagen se ajuste al radio */
            box-shadow: 0 0 10px #fff, /* Sombra blanca más pequeña */
                0 0 20px #fff, /* Sombra blanca mediana */
                0 0 30px #fff, /* Sombra blanca grande */
                0 0 40px #ff00e8, /* Sombra rosa mediana */
                0 0 70px #ff00e8, /* Sombra rosa grande */
                0 0 80px #ff00e8, /* Sombra rosa muy grande */
                0 0 100px #ff00e8, /* Sombra rosa muy muy grande */
                0 0 150px #ff00e8; /* Sombra rosa gigante */
        }

        .buttons {
            display: flex; /* Utilizamos flexbox para alinear los botones */
            gap: 10px; /* Espacio entre los botones */
        }

        .button {
            padding: 10px 20px; /* Ajustamos el relleno del botón */
            background-color: #007bff00; /* Color de fondo del botón */
            color: #ffffff; /* Color de texto del botón */
            border: none; /* Quitamos el borde */
            border-radius: 5px; /* Radio de borde */
            cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
            text-decoration: none; /* Quitamos la subrayado del enlace */
        }

        .button:hover {
            background-color: rgb(166, 0, 255); /* Cambiamos el color de fondo al pasar el cursor */
        }
        .bottom-left {
            position: fixed; /* Posición fija para mantenerlo en la misma ubicación en la ventana */
            bottom: 0; /* Coloca el componente en la parte inferior */
            left: 0; /* Coloca el componente en el lado izquierdo */
            padding: 20px; /* Ajusta el relleno según sea necesario */
            background-color: #f0f0f000; /* Color de fondo del componente */
            color: #000000; /* Color de texto del componente */
        }
        .neon {
            font-size: 20px;
            text-shadow:
            0 0 5px rgb(181, 0, 201),
            0 0 25px rgb(181, 0, 201),
            0 0 50px rgb(181, 0, 201),
            0 0 100px rgb(181, 0, 201);
        }
        .neon-bar {
            font-size: 20px;
            text-shadow:
            0 0 5px rgb(255, 0, 221),
            0 0 25px rgb(255, 0, 221),
            0 0 50px rgb(255, 0, 221),
            0 0 100px rgb(255, 0, 221);
        }
    </style>

    <div class="top-bar">
        <img src="/src/components/imagenes/LOGO.jpg" alt="Logo" class="logo">
        <div class="neon-bar">
            <div class="buttons">
                <a href="/" class="button">Home</a>
                <a href="/Minecraft" class="button">Minecraft Community</a>
                <a href="/About" class="button">Minecraft Own Mods</a>
                <a href="/TlauncherMod" class="button">TLauncherMod</a>
            </div>
        </div>
    </div>
</header>
