---
console.log('javascript');

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <style>
        .imagen-redonda {
            width: 75px; /* ajusta el tamaño de la imagen según tus necesidades */
            height: 75px;
            border-radius: 50%; /* hace que la imagen sea redonda */
            overflow: hidden; /* asegura que la imagen se ajuste al radio */
            float: right; /* coloca la imagen a la izquierda del título */
            margin-right: 60px; /* ajusta el espacio entre la imagen y el título */
        }
    </style>
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <img class="imagen-redonda" src="/src/components/imagenes/LOGO.jpg">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            TAVICRACKWEB
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Pagina oficial de TAVICRACK🎮
        </p>
    </div>


</header>
