---
console.log('javascript');
import SocialMedia from "./SocialMedia.astro";
---

<header>
    <style>
    /* Estilos para el contenedor principal */
        .top-bar {
            width: 100%; /* Ancho completo */
            height: 80px; /* Altura del box */
            background-color: rgba(68, 0, 99, 0.8); /* Color de fondo con transparencia */
            display: flex; /* Utilizamos flexbox para alinear contenido */
            justify-content: space-between; /* Alineamos el contenido HeaderButton los extremos */
            align-items: center; /* Alineamos verticalmente el contenido */
            padding: 0 20px; /* Añadimos relleno HeaderButton los lados */
            position: fixed; /* Fija la posición del box en la parte superior */
            top: 0; /* Fija la posición en la parte superior */
            z-index: 999; /* Asegura que esté por encima de otros elementos */
        }

        .logo {
            width: 70px; /* Tamaño máximo del logo */
            height: 70px; /* Para mantener la proporción del logo */
            border-radius: 50%; /* hace que la imagen sea redonda */
            overflow: hidden; /* asegura que la imagen se ajuste al radio */
        }

        .buttons {
            display: flex; /* Utilizamos flexbox para alinear los botones */
            gap: 10px; /* Espacio entre los botones */
        }

        .button {
            padding: 10px 20px; /* Ajustamos el relleno del botón */
            background-color: #007bff00; /* Color de fondo del botón */
            color: #ffffff; /* Color de texto del botón */
            border: none; /* Quitamos el borde */
            border-radius: 5px; /* Radio de borde */
            cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
            text-decoration: none; /* Quitamos la subrayado del enlace */
        }

        .button:hover {
            background-color: rgb(255, 128, 0); /* Cambiamos el color de fondo al pasar el cursor */
        }
        .bottom-left {
            position: fixed; /* Posición fija para mantenerlo en la misma ubicación en la ventana */
            bottom: 0; /* Coloca el componente en la parte inferior */
            left: 0; /* Coloca el componente en el lado izquierdo */
            padding: 20px; /* Ajusta el relleno según sea necesario */
            background-color: #f0f0f000; /* Color de fondo del componente */
            color: #000000; /* Color de texto del componente */
        }
    
    </style>

    <div class="top-bar">
        <img src="/src/components/imagenes/LOGO.jpg" alt="Logo" class="logo">
        <div class="buttons">
            <a href="/" class="button">Home</a>
            <a href="/Minecraft" class="button">Minecraft</a>
            <a href="/TlauncherMod" class="button">TLauncherMod</a>
            <a href="/About" class="button">About</a>
        </div>
    </div>
    <div class="bottom-left">
        <SocialMedia/>
    </div>
</header>
