---
import socialMedia from "../js/objects/socialMedia.js";
---

<div>
    {socialMedia.map((platform) => (
        <section style="color: white;">
            <i class={platform.icon}></i>
            <a href={platform.url}>{platform.name}</a>
        </section>
    ))}
</div>