---
import socialMedia from "../js/objects/socialMedia.js";
---

<div>
    {socialMedia.map((platform) => (
        <section>
            <i class={platform.icon}></i>
            <a href={platform.url}>Este es un link</a>
        </section>
    ))}
</div>