---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<main class="max-w-5xl px-4 m-auto">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: system-ui, sans-serif;
	}
    body {
        margin: 0;
        padding: 0;
        background-color: #000; /* Color de fondo predeterminado */
        background-image: url('/src/components/imagenes/Galaxia.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Escala la imagen para cubrir todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-attachment: fixed; /* Fija la imagen en su posición para evitar que se desplace con el contenido */
        color: #fff; /* Color de texto */
    }

    
</style>


